.email-compose {
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    min-width: 600px;
    min-height: 600px
}

.compose-btn-cls {
    border: unset;
    background-color: unset;
    padding: 0px;
    padding-bottom: 5px;
    font-size: 1.1rem;
    color: gre
}

.compose-btn-cls:hover {
    cursor: pointer;
    background-color: unset;
    color: green;
}

.compose-span {
    font-weight: 500;
    color: #121212;
}

.compose-body {
    font-weight: 500;
    color: #121212;
    padding: 10px;
}

.email-compose form {
    display: flex;
    flex-direction: column;
    height: 88%;
    justify-content: flex-start;
}

.email-compose form * {
    font-family: Lato-Light;
    font-size: 16px;
}

textarea {
    height: 100%;
    font-size: 16px;
}

.send-btn {
    margin-top: 10px;
    background-color: unset;
    /* border-radius: 10px; */
    border: 1px solid #121212;
    height: 28px;
    /* width: 100px; */
    cursor: pointer;
    font-family: Lato-Black;
}

.send-btn:hover {
    background-color: gold;
}

