.app-keep {
    display: flex;
    height: 100%;
}

.app-keep .main-container {
    margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    
}