.note-list {
    max-width: 95%;
    columns: 240px auto;
    /* column-width: 240px; */
    /* overflow-y:auto; */
}

/* @media (max-width: 450px) {
    .note-list {
        width: 80%; 
    }
} */

@media (max-width: 510px) {
    .note-list{
        width: 100wh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}