.app-home {
    height: calc(100vh - 138px) ;
    background-image: url(/assets/svg/people.svg);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: 500px;
    display: flex;
    flex:1;
    margin: auto;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
    margin-top: 84px;
}

.app-home a {
    cursor: pointer;
    height: 100px;
    /* width: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #121212;
    background-color: white;
    flex-grow: 1;
    font-size: 25px;
    margin: 10px;
    margin-top: 0;
    font-family: Lato-Light
}

.app-home a:hover {
    box-shadow: grey 0 0 6px 0px;
}

@media (max-width: 650px) {
    .app-home {
        flex-direction: column;
    }
}