.app-home {
    /* height: 100vh; */
    display: flex;
    margin: auto;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    align-items: stretch
}

.app-home a {
    cursor: pointer;
    height: 300px;
    /* width: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #121212;
    background-color: white;
    flex-grow: 1;
    font-size: 60px;
    margin: 10px;
    margin-top: 0;
}

.app-home a:hover {
    box-shadow: grey 0 0 6px 0px;
}